.spLP-sidebar{
	margin: 0;
	padding: 0;
	list-style: none;
}
.spLP-sidebar li a:hover,
.spLP-sidebar li:hover
{
	box-shadow: none !important;
}

.spLP-sidebar li.sbSingleLatesPost{
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid #eee;
	border-top: none !important;
	margin-bottom: 15px;
	border-radius: 3px;
	line-height: 26px;
	padding: 0px 0px 10px;
}

.spLP-sidebar li.sbSingleLatesPost::before,
.spLP-sidebar li.sbSingleLatesPost::after{
	display: none !important;
}

.spLP-sidebar li.sbSingleLatesPost:last-child{
	border-bottom: 1px solid transparent;
	padding: 0px;
}

.spLP-sidebar li.sbSingleLatesPost .rc-post-thumb{
	margin-right: 15px;
	width: 130px;
	height: 100px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 1px;

}
.postDate{
	display: block !important;
	line-height: 10px;
	margin-bottom: 15px;
}

.spLP-sidebar li.sbSingleLatesPost .rc-post-content{
	flex: 1;
}

.spLP-sidebar li.sbSingleLatesPost .rc-post-content h4 {
	text-transform: capitalize;
	font-size: 18px;
	
}

.edit-linksp a{
    color: #fff;
    font-weight: 500;
	position: relative;
	font-size: 10px !important;
	background: #2368fd;
	padding: 2px;
	border-radius: 2px;
}
.edit-linksp a:hover {
	text-decoration: none !important;
	box-shadow: none !important;
	background: #2368fd !important;
	color: #fff !important;
}
.readmore-sp{
	display: block !important;
	color: #666;
	font-size: 14px !important;
	text-transform: lowercase !important;
	box-shadow: none !important;
}


/*single main blog*/
.sp-blog-single-blog{
	position: relative;
    -webkit-transition: all 0.24s cubic-bezier(0.15, 0.94, 0.31, 0.18);
    transition: all 0.24s cubic-bezier(0.15, 0.94, 0.31, 0.18);
	margin-bottom: 30px;
	box-shadow: 0px 10px 10px 0px rgba(132, 132, 132, 0.1);
	padding: 15px;
}
.sp-blog-single-blog h3 {
    font-size: 18px;
    text-transform: capitalize;
    -webkit-transition: all 0.24s ease-in-out;
    transition: all 0.24s ease-in-out;
	margin: 0 0 5px;
	
}

.sp-blog-single-blog h3 a {
	color: #666;
	box-shadow: none !important;
	text-decoration: none;
}

.sp-dflex {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	
}

@media (max-width: 768px){
	.sp-dflex {
		flex-direction: column;
	}
}

.sp-dflex.top{
	margin-top: 10px;
}
.sp-dflex.bottom{
	margin-bottom: 10px;
}
.sptagsa a{
	color: #2368fd;
	text-transform: capitalize;
	font-size: 14px;
	box-shadow: none !important;
	text-decoration: none;
}
.sptagsa a:hover{
	box-shadow: none !important;
}